/* style sheet to be injected into letterboxd */
.film-recent-reviews {
    opacity: 0;
}
.activity-from-friends {
    opacity: 0;
}
.ratings-histogram-chart {
    opacity: 0;
}
.average-rating {
    opacity: 0;
}
#toggle_button
{
    margin: 10px auto 40px auto;
    text-align: center;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 8px 16px;
    cursor: pointer;
    background: transparent;
    color: #9ab;
    border-color: #678;
    border-radius: 4px;
    font-family: Graphik-Regular-Web, sans-serif;
    letter-spacing: .075em;
}
#toggle_button:hover
{
    background: #242c34;
}
/* imdb styling */
.imdbRating {
    opacity: 0;
}